@page
@model Sample.RazorLib.MyFeature.Pages.Page1Model
@{
    Layout = null;
	var test = new Sample.ClassLib.Class1();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
	<p>@test.Hello()</p>
</body>
</html>
